<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Slug and Rabbit dance off!</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body data-ng-app="myApp">
    <main>
      <h1>Rabbit vs Slug</h1>
      <p>Can they share their greens?</p>
      <section data-ng-controller="SlugController as slugctrl" class="slug" data-ng-init="slugctrl.getAll()">
        <h2>Slugs</h2>
        <h3>Add a Character:</h3>
        <form data-ng-submit="slugctrl.createSlug()">
          <label>Name <input type="text" data-ng-model="slugctrl.newSlug.name"></label>
          <label>Variety <input type="text" data-ng-model="slugctrl.newSlug.variety"></label>
          <label>Food <input type="text" data-ng-model="slugctrl.newSlug.food"></label>
          <button type="submit">Create</button>
        </form>

        <ul>
          <li dat-ng-repeat="slugs in slugctrl.slugs">
            <p data-ng-if="!editing">{{slugs.name}}, {{slugs.variety}}, eats: {{slugs.food}}</p>


            <form data-ng-if="!slug.editing" data-ng-submit="slug.updateSlug(slug)">
              <label for="name">Name</label>
              <input type="text" name="name" data-ng-model="slug.name">

              <label for="type">Type</label>
              <input type="text" name="type" data-ng-model="slug.type">

              <label for="food">Favorite food</label>
              <input type="text" name="food" data-ng-model="slug.food">

              <button type="submit">Update Slug</button>
              <button data-ng-click="slug.editing = !slug.editing">Update!</button>
            </form>

          </li>
        </ul>

      </section>

      <section data-ng-controller="RabbitController as rabbitctrl" class="rabbit" data-ng-init="rabbitctrl.getAll()">

        <form data-ng-if="rabbits.editing" data-ng-submit="rabbit.updateRabbit(rabbits)">
          <label for="name">Name</label>
          <input type="text" name="name" data-ng-model="rabbits.name">

          <label for="type">Variety</label>
          <input type="text" name="type" data-ng-model="rabbits.variety">

          <label for="food">Favorite food</label>
          <input type="text" name="food" data-ng-model="rabbits.food">

          <button type="submit">Update Rabbit</button>
          <button data-ng-click="rabbits.editing = !rabbits.editing">Update!</button>
        </form>

        <ul>
          <li dat-ng-repeat="rabbits in rabbitctrl.rabbits">
          {{rabbits.name}}, {{rabbits.type}}, eats: {{rabbits.food}}

            <form data-ng-if="rabbits.editing" data-ng-submit="rabbitctrl.updateRabbit(rabbits)">
              <label for="name">Name</label>
              <input type="text" name="name" data-ng-model="rabbits.name">

              <label for="type">Type</label>
              <input type="text" name="type" data-ng-model="rabbits.type">

              <label for="food">Favorite food</label>
              <input type="text" name="food" data-ng-model="rabbits.food">

              <button type="submit">Update Rabbit</button>
              <button data-ng-click="rabbits.editing = !rabbits.editing">Update!</button>
            </form>

          </li>
        </ul>

      </section>
    </main>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>

</html>
